@model e_website.Context.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <h4 class="text-center text-uppercase text-primary" style="font-size:28px">Đăng kí</h4>
    <hr />
    <div class="form-horizontal my-2" style="margin-left:13%">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Họ
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tên
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mật khẩu
            <div class="col-md-10">
                 @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:40%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng kí" class="btn btn-primary" />
            </div>
        </div>

    </div>
    <hr />
    <div class="text-center btn  btn-sm btn-success text-white" style="margin-left:47.5%">
        @Html.ActionLink("Quay lại trang chủ", "Index")
    </div>
    <br />
    <br />
}